.dropDownClass {
  background-color: none !important;
  background-color: transparent !important;
  border: none !important;
}
.dropDownClass::after {
  display: none !important;
}
.channelclass::-webkit-scrollbar {
  display: none !important;
}
@media (min-width:1279px) {
  .channelclass{
    height: 120px !important;
  }
}
.chatMessageClass::-webkit-scrollbar {
  display: none !important;
}