.dropDownClass {
  background-color: none !important;
  background-color: transparent !important;
  border: none !important;
}
.dropDownClass::after {
  display: none !important;
}
/* .chatMessageClass::-webkit-scrollbar {
  display: none !important;
} */
.channelclass::-webkit-scrollbar {
  display: none !important;
}
.chatMessageClass::-webkit-scrollbar {
  display: none !important;
}
/* @media (max-width: 1601px) {
  .chatMessageClass {
    height: 430px !important;
  }
}
@media (max-width: 1423px) {
  .chatMessageClass {
    height: 380px !important;
  }
}
@media (max-width: 1282px) {
  .chatMessageClass {
    height: 310px !important;
  }
} */
